# Browser data (private/large)
BraveSoftware/
google-chrome/
chromium/
mozilla/
spotify/

# App data (Electron/Chromium-based — cache, cookies, GPU data)
Code/
pgadmin4/
torbrowser/
sidepad

# App caches and logs
obs-studio/
pulse/
systemd/
dconf/
nautilus/
Thunar/
xfce4/
Mousepad/
libreoffice/
kdeconnect/
menus/

# KDE/Qt private configs
kwalletrc
okularpartrc
okularrc
calligrastagerc
emaildefaults
QtProject.conf

# Package manager cache
yay/

# Misc private/generated
mimeapps.list
user-dirs.dirs
user-dirs.locale
welcome_news_latest_date_file
pavucontrol.ini
EOS-greeter.conf
pupgui/
qt5ct/
xarchiver/
ml4w-dotfiles-installer/
com.ml4w.calendar/
com.ml4w.hyprlandsettings/
fetch/
go/
nwg-displays/
nwg-look/
swappy/
wallust/
wezterm/
qutebrowser/
quickshell/
sidepad/
waypaper/

# Symlinks (already managed by ml4w dotfiles)
bashrc
btop
chromium-flags.conf
edge-flags.conf
fastfetch
fish
gtk-3.0
gtk-4.0
kitty
matugen
ml4w
nvim
nwg-dock-hyprland
ohmyposh
qt6ct
rofi
swaync
vim
walker
waybar
wlogout
xsettingsd
zshrc
